<!DOCTYPE html>
<html class="js csstransitions">
<head>
    <title>IA - 2013</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/angular.min.1.1.5.js"></script>
    <script type="text/javascript" src="js/angular-dragdrop.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/localStorageModule.js"></script>
    <script type="text/javascript" src="js/spritely.js"></script>
    <script type="text/javascript" src="js/rotate.js"></script>
    <script type="text/javascript" src="js/game.js"></script>
    <script type="text/javascript" src="js/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-custom-tpls-0.3.0.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('IA2013', ['LocalStorageModule', 'ngDragDrop', 'ui.bootstrap']);
    </script>
    <script type="text/javascript" src="js/model/underscore.string.js"></script>
    <script type="text/javascript" src="js/jquery.pnotify.min.js"></script>

    <script type="text/javascript" src="js/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>


    <script type="text/javascript" src="js/model/util.js"></script>
    <script type="text/javascript" src="js/model/model.js"></script>
    <script type="text/javascript" src="js/controllers/controllers.js"></script>
    <script type="text/javascript" src="js/controllers/directives.js"></script>
    <script type="text/javascript" src="js/jquery.joyride-2.0.3.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css" media="all"/>

    <link rel="stylesheet" type="text/css" href="css/photon-min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/photon-min-part2.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/animate.min.css" media="all"/>
    <link rel=" stylesheet" type="text/css" href="css/joyride-2.0.3.css">

</head>
<body ng-app="IA2013" class="body" ng-controller="AppCtrl">

<!--titulo-->
<div class="container-fluid dashboard dashboard-title">
    <div class="row-fluid">
        <div class="span12">
            <h1 id="titulo" class="titulo">
                Inteligencia Artificial 2013
            </h1>

            <div class="btn-group">
                <button type="button" class="btn btn-gear dropdown-toggle" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li><a ng-click="integrantesModal.show()">Integrantes del grupo</a></li>
                    <li><a href="javascript:" ng-click="reseteador.show()">Resetear aplicación</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--Menu-->
<div class="container-fluid dashboard dashboard-quick-launch">
    <div class="row-fluid">
        <div class="span12">
            <ul id="sortable" class="ui-sortable">
                <li id="tour-launcher" ng-show="isEntornoCreado()">
                    <img src="img/icons/ql1-2x.png" alt="Quick Launch Icon" data-original-title="" title="">

                    <p>Tour</p>
                </li>
                <li id="paper">
                    <img src="img/icons/ql5-2x.png" alt="Quick Launch Icon" data-original-title="" title="">
                    <p>Paper</p>
                </li>
                <li >

                </li>
            </ul>
        </div>
    </div>
</div>

<!--widgets-->
<div class="container-fluid dashboard dashboard-widget-group">
<div class="row-fluid">
<div id="photon_widgets" class="span12 ui-sortable">

<widget skin="dark" widgetVar="widgetEstado">
    <front titulo="Estado General">
        <ul>
            <li>
                <span>Entorno</span>&nbsp;
                <div>
                    <span>{{isEntornoCreado()?  "Creado" : "No creado" }}</span>
                    <img ng-src="img/circulo-rojo.png" ng-hide="isEntornoCreado()" >
                    <img ng-src="img/circulo-verde.png" ng-show="isEntornoCreado()" ng-animate="{show: 'animated wobble'}" >
                </div>
            </li>
            <li>
                <span>Agente:</span>&nbsp;Política
                <div>
                    <span>{{agente.politica.nombre? agente.politica.nombre : 'Ninguna'}}</span>
                    <img ng-src="img/circulo-rojo.png" ng-hide="isEntornoCreado()" >
                    <img ng-src="img/circulo-verde.png" ng-show="isEntornoCreado()" ng-animate="{show: 'animated wobble'}" >
                </div>
            </li>
            <li>
                <span>Agente:</span>&nbsp;estado
                <div>
                    <span>{{agente.entrenado? "Entrenado" : "Sin entrenar" }}</span>
                    <img ng-src="img/circulo-rojo.png" ng-hide="agente.entrenado" ng-animate="{show: 'animated wobble'}" >
                    <img ng-src="img/circulo-verde.png" ng-show="agente.entrenado" ng-animate="{show: 'animated wobble'}" >
                </div>
            </li>
            <li>
                <span>Simulaciones</span>&nbsp;corridas
                <div>
                    <span>{{entorno.partidasJugadas? entorno.partidasJugadas : 0}}</span>
                    <img ng-src="img/{{(entorno.partidasJugadas > 0) && 'circulo-verde' || 'circulo-rojo' }}.png"
                         alt="Arrow up">
                </div>
            </li>
            <li>
                <span>Depuración</span>
                &nbsp;ejecutada
                <div>
                    <span>{{matrizQResguardada? "Si" : "No" }}</span>
                    <img ng-src="img/{{(matrizQResguardada) && 'circulo-verde' || 'circulo-rojo' }}.png" />
                </div>
            </li>
        </ul>
    </front>
    <back>
        <form>
            <p class="widget-description flipper" style="color: white;">Resetear!</p>
            <a class="btn btn-large btn-danger flipper" ng-click="reseteador.show()">Volver a estado inicial!</a>
        </form>
    </back>
</widget>

<widget skin="white" widgetVar="widgetEntorno">
    <front titulo="Panel central">
        <h2 class="login-title" >Gestor de Simulaciones</h2>
        <div class="login-member">
            <p style="margin-top: 0px;">Pódes <a class="flipper" id="editar" >editar</a> el entorno.</p>
        <a class="btn btn-large btn-success" ng-click="crearEntorno()" ng-hide="isEntornoCreado()" ng-animate="{show:'animated bounceIn'}" id="crear-entorno" >Crear Entorno!</a>
        <a class="btn btn-large btn-inverse" ng-click="crearEntorno()" ng-show="isEntornoCreado()" ng-animate="{show:'animated flipInY'}" id="recrear-entorno" >Recrear Entorno!</a>
        </div>
        <span ng-show="isEntornoCreado()" ng-animate="'fade'" >
            <div class="opciones" style="text-align: center;">Opciones</div>
            <div class="btn-group"  style="margin-top: 5px;" ng-animate="{show:'animated flipInY', hide:'animated fadeOut'}" ng-show="isEntornoCreado()" >
                <a class="btn btn-large btn-primary" ng-click="editor.show();" id="inspeccionar"  >Inspección</a>
                <a id="partida" class="btn btn-large btn-danger" href="" ng-click="partida.show(); activarKeys();">Simulación</a>
            </div>
        </span>
    </front>
    <back>
        <div class="container-fluid widget-settings">
            <div class="row-fluid">
                <div class=span6>
                    <div class="control-group row-fluid">
                    <div class="span12">
                        <label class="control-label"><strong style="margin-left: 2px;">Mapa</strong></label>
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <div class="span7">
                        <div class="controls">

                            <select ng-model="tamano" style="margin:5px 0px; width:130px" ng-change="actualizarTamano(tamano)" >
                                <option value="6">6x6</option>
                                <option value="7">7x7</option>
                                <option value="8">8x8</option>
                                <option value="9">9x9</option>
                                <option value="10">10x10</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="control-group row-fluid" >
                    <div class="span12">
                        <label class="control-label">Paredes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pozos</label>
                    </div>
                </div>
                    <div class="control-group row-fluid">
                        <div class="span12">
                            <div class="controls">

                                <input type="number" name="" class="input-mini" style=" margin: 0px;" ng-model="configuracionEntorno.paredes"/>

                                <input type="number" name="" class="input-mini" style="margin: 0px 0px 0px 5px;"
                                       ng-model="configuracionEntorno.pozos"/>


                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-top: 5px;">
                        <div class="span12">
                            <label class="control-label" style="display:inline-block; "><strong>Premio & Castigo</strong></label>
                        </div>
                    </div>

                    <div class="control-group row-fluid">
                        <div class="span12">
                            <label class="control-label">Meta&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pozo</label>
                        </div>
                    </div>
                    <div class="control-group row-fluid">
                        <div class="span12">
                            <div class="controls">

                                <input type="text" name="" class="input-mini" style="margin-left: 0px;margin-top: 0px;"
                                       ng-model="configuracionEntorno.recompensaMeta" ng-change="configuracionEntorno.actualizarMeta()"/>

                            <input type="text" name="" class="input-mini" style="margin-left: 5px;margin-top: 0px;"
                                   ng-model="TipoCamino.POZO.recompensa"/>


                        </div>
                    </div>
                </div>
                </div>
                <div class="span6" style="color: white">
                    <div class="control-group row-fluid">
                        <div class="span12">
                            <label class="control-label" style="margin-left: 8px;"><strong>Recompensas</strong></label>
                        </div>
                    </div>
                    <div class="span12">
                        <label class="control-label" style="display:inline-block; "><strong>Malo: </strong></label>
                        <input type="text" style="margin:7px 14px; display:inline-block; " class="ng-pristine ng-valid input-mini" ng-model="TipoCamino.MALO.recompensa">
                    </div><div class="span12">
                        <label class="control-label" style="display:inline-block; "><strong>Nuetro: </strong></label>
                        <input type="text" style="margin:6px 0px; display:inline-block; " class="ng-pristine ng-valid input-mini" ng-model="TipoCamino.NEUTRAL.recompensa">
                    </div><div class="span12">
                        <label class="control-label" style="display:inline-block; "><strong>Bueno: </strong></label>
                        <input type="text" style="margin:6px 2px; display:inline-block; " class="ng-pristine ng-valid input-mini" ng-model="TipoCamino.BUENO.recompensa">
                    </div><div class="span12">
                        <label class="control-label" style="display:inline-block; "><strong>Exclte: </strong></label>
                        <input type="text" style="margin:6px 5px; display:inline-block; " class="ng-pristine ng-valid input-mini" ng-model="TipoCamino.EXCELENTE.recompensa">
                    </div>
                </div>
            </div>
        </div>
    </back>
</widget>

<!--placeholders-->
<div class="widget-holder blank-widget" ng-hide="entorno">
    <div class="widget-flipper">
        <div class="widget-area" style="padding:0px;">

        </div>
    </div>
</div>
<div class="widget-holder blank-widget" ng-hide="entorno">
    <div class="widget-flipper">
        <div class="widget-area" style="padding:0px;">

        </div>
    </div>
</div>
<div class="widget-holder blank-widget" ng-hide="entorno">
    <div class="widget-flipper">
        <div class="widget-area" style="padding:0px;">

        </div>
    </div>
</div>

<span ng-show="entorno" ng-animate="{show:'animated bounceIn', hide:'animated bounceOut'}">
    <widget widgetVar="widgetEntrenamiento">
        <front titulo="Panel de Entrenamiento" class="task-completion">
            <ul>
                <li>
                    Política de selección
                    <span>{{getPoliticaAgente()}}</span>
                </li>
                <li>Cantidad de ciclos
                    <span>{{entrenamiento.repeticiones}}</span>
                </li>
                <li >
                    <span><a id="amnesia" class=" btn btn-small btn-primary btn-mini"
                             ng-click="amnesia()">Amnesia</a></span>
                    <span><a id="entrenar" class=" btn btn-small btn-danger btn-mini" ng-click="entrenamiento.iniciarEntrenamiento()">Entrenar</a></span>
                </li>
                <li class="processed-pct">
                    Entrenamiento:&nbsp;&nbsp;<span>{{entrenamiento.getPorcentajeEntrenamiento()}}%</span>

                    <div class="progress progress-info progress-striped active">
                        <div class="bar" data-target="0" ng-style="entrenamiento.getPorcentajeEntrenamientoBarra()" style="-webkit-transition: width 0s ease; transition: width 0s ease"></div>
                    </div>
                </li>
            </ul>
        </front>
        <back>
            <div class="container-fluid widget-settings" style="color: white;">
                <div class="control-group row-fluid">
                    <div class="span12">
                        <label class="control-label"><strong>Política de planificación</strong></label>
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <div class="span12">
                        <div class="controls">
                            <select name="multiFilter" style="margin:5px 0px; width:105px;"
                                    ng-model="entrenamiento.politicaSeleccionada.nombre" ng-change="entrenamiento.actualizarPolitica()">
                                <option value="greedy">ε-Greedy</option>
                                <option value="aleatoria">Aleatoria</option>
                                <option value="softmax">Softmax</option>
                            </select>
                            &nbsp;<span style="color:white;" >Episodios:</span> <input type="number" name="reps" id="reps" ng-model="entrenamiento.repeticiones" style="margin: 0px 0; width:78px;" />
                        </div>
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <div class="span12">
                        <label class="control-label"><strong>Q-learning</strong></label>
                        <label class="control-label">Gamma&nbsp;&nbsp;&nbsp;&nbsp;Q-inicial</label>
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <div class="span12">
                        <div class="controls">
                            <input type="text" name="" placeholder="Gamma" class="input-mini" tooltip="Factor de descuento" tooltip-placement="bottom"
                                   style="margin: 0px 3px 0px 0px;" ng-model="entrenamiento.qlearning.gamma"/>
                            <input type="text" name="" placeholder="Q-inicial" class="input-mini"
                                   style="margin: 0px;" ng-model="entrenamiento.qlearning.qInicial" tooltip="Inicialización optimista" tooltip-placement="bottom" />
                            <a ><span ng-click="qlearningModal.show()" tooltip="Ayuda" tooltip-placement="right" ><i class="icon-question-sign icon-white"> </i></span></a>
                            <button type="button" class="btn btn-inverse btn-mini" data-toggle="button" ng-click="toggleResguardo()" >Depurar</button>
                        </div>

                    </div>
                </div>
                <div class="control-group row-fluid">
                    <div class="span12">
                        <label class="control-label" style="margin-top: 5px;"><strong>Configuración de política</strong></label>
                    </div>
                </div>
                <div class="control-group row-fluid" ng-show="entrenamiento.politicaSeleccionada.isGreedySeleccionado()">
                    <div class="span12">
                        <div class="controls">
                            <div ng-show="grafico.estrategia.nombre === 'greedy'" style="">
                                <div class="input-prepend" tooltip="ε inicial" tooltip-placement="top">
                                    <span class="add-on" style="color: black;" >ε<sub>i</sub> </span>
                                    <input style="margin: 0px; width: 50px;" id="epsilonInicial" type="text" placeholder="Epsilon" ng-model="entrenamiento.politicaSeleccionada.epsilon" ng-change="grafico.estrategia.actualizarLabel()" class="ng-pristine ng-valid">
                                </div>&nbsp;-&nbsp;
                                <div class="input-prepend" tooltip="ε final" tooltip-placement="top">
                                    <span class="add-on" style="color: black;" >ε<sub>f</sub></span>
                                    <input style="margin: 0px; width: 50px;" id="epsilonFinal" type="text" placeholder="Epsilon" ng-model="entrenamiento.politicaSeleccionada.epsilonFinal" ng-change="grafico.estrategia.actualizarLabel()" class="ng-pristine ng-valid">
                                </div>
                                <div class="input-prepend" tooltip="Cada cuantos episodios variar ε" tooltip-placement="top">
                                    <span class="add-on" style="color: black;" >k</span>
                                    <input style="margin: 0px; width: 50px; padding:2px;" id="step" type="number" placeholder="Epsilon" ng-model="entrenamiento.politicaSeleccionada.step" ng-change="grafico.estrategia.actualizarLabel()" class="ng-pristine ng-valid" >
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="control-group row-fluid" ng-show="entrenamiento.politicaSeleccionada.isEGreedySeleccionado()">
                    <div class="span12">
                        <div class="controls">
                            <strong style="color: white; font-size: 24px;">ε&nbsp;&nbsp;&nbsp;</strong><input type="text" name="" placeholder="Epsilon" class="input-small"
                                   style="margin: 0px 0;" ng-model="entrenamiento.politicaSeleccionada.epsilon"/>
                        </div>
                    </div>
                </div>
                <div class="control-group row-fluid" ng-show="entrenamiento.politicaSeleccionada.isSoftmaxSeleccionado()">
                    <div class="span12">
                        <div class="controls" style="color: white;">
                            <div class="input-prepend">
                                <span class="add-on" style="color: black;" >τ</span>
                                <input style="margin: 0px; width: 50px;" id="tau" type="text" placeholder="Tau" ng-model="entrenamiento.politicaSeleccionada.tau" ng-change="grafico.estrategia.actualizarLabel()" class="ng-pristine ng-valid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </back>
    </widget>

    <widget skin="white" widgetVar="resultadoEntrenamiento">
        <front titulo="Informe del Coach">
            <img src="img/agente-min.png" class="img-rounded" style="height: 198px;" alt="agente-meme" ng-hide="entrenamiento.completado" />
            <span ng-show="entrenamiento.completado">

                <chart id="chartie" value="graficoResultadoEntrenamiento" recreate="true" ></chart>
            </span>
        </front>
        <back>

        </back>
    </widget>

    <widget widgetVar="partidaWidger">
        <front titulo="Panel de control" class="panel-control" >

            <ul>
                <li>
                    <span ng-hide="entrenamiento.completado">
                         Primero debe entrenar el agente.
                    </span>
                     <span ng-show="entrenamiento.completado">
                         Tiempo de entrenamiento <br>
                         {{entrenamiento.tiempoDeEntrenamiento}}
                     </span>
                </li>
                <li class="smaller"><a id="qoptimo" class="btn btn-mini btn-primary" ng-click="establecerConocimientoActualComoPoliticaOptima()" tooltip="Resguarda al conocimiento actual como óptimo" tooltip-placement="top" >Q es óptimo</a></li>
                <li class="smaller"><a class="btn btn-mini" ng-click="enlaceModal.show()">Link a mapa</a></li>
                <li class="bottom" style="padding-top: 1px;" >
                    <div style="float:left; margin-right: 10px;">
                        <div style="float: none; margin-left: 0px;">Explorador de la matriz Q</div>
                        <div style="float: left; margin: 10px 0px 0px 20px">
                            i= <input id="i" type="number" min="0" max="{{entorno.mapa.indices.i}}" ng-model="consulta.fila" style="width: 35px; padding: 1px; margin-top: 5px;" placeholder="i" ng-change="consulta.consultarQs(consulta.fila, consulta.columna)" /> j=
                            <input type="number" min="0" max="{{entorno.mapa.indices.j}}" ng-model="consulta.columna" placeholder="j" style="width: 35px; padding: 1px; margin-top: 5px;" ng-change="consulta.consultarQs(consulta.fila, consulta.columna)" />
                        </div></div>
                    <div style="float: right;">
                        <div style="float:none; ">
                            <input type="text"  style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[7]" />
                            <input type="text" name="a7" style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[0]" />
                            <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[1]" />
                        </div>
                        <div style="float:none; margin-top: 3px; margin-bottom: 3px;" >
                            <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[6]" />
                            <span style="width: 35px;">{{consulta.fila || consulta.fila === 0? consulta.fila: 'I'}} x {{consulta.columna || consulta.columna === 0? consulta.columna: 'J'}}</span>
                            <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[2]" />
                        </div>
                        <div style="float:none; ">
                            <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[5]" />
                            <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[4]" />
                            <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[3]" />
                        </div>
                    </div>
                </li>
            </ul>
        </front>
        <back>

        </back>
    </widget>

</span>

<div class="widget-holder blank-widget" ng-hide="isEntornoCreado()" >
    <div class="widget-flipper">
        <div class="widget-area" style="padding:0px;">

        </div>
    </div>
</div>

 <span ng-show="isEntornoCreado()" ng-hide="!isEntornoCreado()" ng-animate="{show: 'animated flipInX'}" >
<widget skin="white" >
    <front titulo="Comparar Estrategias" >
        <table class="table table-striped">
            <thead class="">
            <tr>
                <th id="grafico">#</th>
                <th>Política</th>
                <th>Parámetros</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="estrategia in grafico.estrategiasAComparar" ng-animate="{enter: 'animated fadeInUp', leave: 'animated fadeOutUp'}" >
                <td>{{$index + 1}}</td>
                <td style="text-transform: capitalize">{{estrategia.nombre}}</td>
                <td>{{estrategia.epsilon? estrategia.epsilon : estrategia.tau}}</td>
                <td>
                    <a ng-click="grafico.quitarEstrategia($index)" ><span tooltip="Eliminar" ><img src="img/cancel.png" alt="cancel"/></span></a>
                </td>
            </tr>
            <tr ng-hide="grafico.estrategiasAComparar.length > 3" >
                <td>{{grafico.estrategiasAComparar.length + 1}}</td>
                <td>
                    <select name="estrategiaSelecter" style="margin:0px; width:85px; height:20px; padding: 0px;"
                            ng-model="grafico.estrategia.nombre" ng-change="grafico.estrategia.actualizarLabel()" >
                        <option value="greedy">ε-Greedy</option>
                        <option value="aleatoria">Aleatoria</option>
                        <option value="softmax">Softmax</option>
                    </select>

                </td>
                <td id="añadir">
                    <div ng-show="grafico.estrategia.nombre === 'greedy'" >
                        ε: <input style="margin: 0px; width: 45px; height:20px;" id="grdy" type="text" placeholder="Epsilon" ng-model="grafico.estrategia.parametros.epsilon" ng-change="grafico.estrategia.actualizarLabel()">
                    </div>

                    <div ng-show="grafico.estrategia.nombre === 'softmax'" >
                            τ: <input style="margin: 0px; padding: 0px; width: 45px; height: 20px;" id="sfmx" type="text" placeholder="Tau" ng-model="grafico.estrategia.parametros.tau" ng-change="grafico.estrategia.actualizarLabel()" >
                    </div>
                    <div ng-show="grafico.estrategia.nombre === 'aleatoria'">
                        No Disp.
                    </div>
                </td>
                <td><a  ng-click="grafico.agregarEstrategia(grafico.estrategia)" ><span tooltip="Añadir" tooltip-placement="right" ><img src="img/agregarAlGrafico.png" alt="Agregar al gráfico"/></span></a></td>
            </tr>
            </tbody>
        </table>
    </front>
    <back>
        <div class="container-fluid widget-settings">
            <div class="row-fluid">
                <div class="span12">
                    <label class="control-label"><strong>Configuración del gráfico</strong></label>
                </div>
                <div class="span4" style="margin-left: 0px; margin-top: 10px;">
                    <div class="control-group row-fluid">
                        <div class="span12">
                            <label class="control-label"><strong>Episodios</strong></label>
                        </div>
                    </div>
                    <div class="control-group row-fluid">
                        <div class="span9">
                            <div class="controls">

                                <input type="text" name="" style="margin:5px 0px 5px 0px;" ng-model="grafico.episodiosAGraficar" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="span8" style="padding-top: 35px;">
                    <a class="btn btn-primary" ng-click="grafico.prepararDatos()" >Crear</a>

                    <a class="btn btn-success" ng-click="graficoComparativoModal.show()" ng-show="isGraficoComparativoCreado" ng-animate="{show: 'animated flipInX'}" >&nbsp;&nbsp;Ver&nbsp;</a>

                    <a style="margin-top: 5px; width:95px;" class="btn btn-inverse" ng-click="tiemposModal.show()" ng-show="isGraficoComparativoCreado" ng-animate="{show: 'animated flipInX'}" >&nbsp;&nbsp;Tiempos&nbsp;</a>
                </div>
            </div>
        </div>
    </back>
</widget>
 </span>
</div>
</div>
</div>

<!--Marca de agua-->
<div class="dashboard-watermark"></div>


<!--Ventanas modal-->
<modal header="Reiniciar la aplicación" widgetvar="reseteador" >
    <contenido>
        <p>¿Está seguro de que desea resetear el estado actual?</p>
    </contenido>
    <bottom>
        <button class="btn" ng-click="reseteador.hide()" aria-hidden="true">No, me equivoqué</button>
        <button class="btn btn-danger" ng-click="resetear(); reseteador.hide();">Si!</button>
    </bottom>
</modal>

<modal header="Editar mapa" widgetvar="editor">
    <contenido>
        <form class="form-horizontal" style="display: inline-block; margin-right:5px;">
            <div class="container-fluid" style="margin: 0px;">
                <div class="form-legend" id="Input_Field">Mapa <span tooltip="Ayuda" tooltip-placement="right"><i class="icon-question-sign"></i></span></div>
                <table class="mapa editable">
                    <tr ng-repeat="fila in mapa.mapa track by $index">
                        <td ng-repeat="columna in fila track by $index" jqyoui-droppable="opcionesCasillero"  data-drop="true" ng-class="columna.nombre" fila="{{$parent.$index}}" columna="{{$index}}" ng-click="editor.pintar($parent.$index,$index)" ng-model="posicion" ng-mouseenter="mensajes.editor.mouseSobre.x = $parent.$index; mensajes.editor.mouseSobre.y = $index; consulta.consultarQs($parent.$index,$index);" >
                            <img src="img/juego/meta.png" alt="meta" if="isMeta($parent.$index, $index)" style="margin-left:15px; margin-top: -25px;float: left; cursor: -webkit-grab; cursor: -moz-grab; position: absolute" jqyoui-draggable="{onStart: 'cursorChanger'}" data-drag="true" ng-model="meta" data-jqyoui-options="{revert: true, revertDuration: 150}" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>

        <form class="form-horizontal" style="display: inline-block; width: 168px;">
            <div class="container-fluid" style="margin: 0px;">
            <div class="form-legend" id="Info">Información</div>
            <div class="control-group row-fluid">
                <div class="span3">
                <table class="mapa">
                    <tr><td ><a class="darken" style="cursor: url('img/cuentagotas.png') 0 21, crosshair;" ng-click="editor.seleccionarPincel('Bueno')" id="pincel-camino-bueno" ><span tooltip="Bueno" tooltip-placement="right" ><img src="img/juego/bueno.png" alt="" /></span></a></td></tr>
                    <tr><td><a class="darken cuentagotas" style="cursor: url('img/cuentagotas.png') 0 21, crosshair;" ng-click="editor.seleccionarPincel('Excelente')"><span tooltip="Excelente" tooltip-placement="right" ><img src="img/juego/excelente.png" alt=""/></span></a></td></tr>
                    <tr><td><a class="darken cuentagotas" style="cursor: url('img/cuentagotas.png') 0 21, crosshair;" ng-click="editor.seleccionarPincel('Neutral')"><span tooltip="Neutral" tooltip-placement="right" ><img src="img/juego/neutral.png" alt=""/></span></a></td></tr>
                    <tr><td><a class="darken cuentagotas" style="cursor: url('img/cuentagotas.png') 0 21, crosshair;" ng-click="editor.seleccionarPincel('Malo')"><span tooltip="Malo" tooltip-placement="right" ><img src="img/juego/malo.png" alt=""/></span></a></td></tr>
                    <tr><td><a class="darken cuentagotas" style="cursor: url('img/cuentagotas.png') 0 21, crosshair;" ng-click="editor.seleccionarPincel('Pozo')"><span tooltip="Pozo" tooltip-placement="right" ><img src="img/juego/pozo.png" alt=""/> </span></a></td></tr>
                    <tr><td><a class="darken cuentagotas" style="cursor: url('img/cuentagotas.png') 0 21, crosshair;" ng-click="editor.seleccionarPincel('Pared')"><span tooltip="Pared" tooltip-placement="right" ><img src="img/juego/pared.png" alt=""/></span></a></td></tr>
                </table></div>
                <div class="span9">
                    <p  >Pincel:&nbsp;{{mensajes.editor.pincelSeleccionado()}}.</p>
                    <button class="btn btn-danger" ng-click="editor.pintarTodo()">Pintar todo!</button>
                </div>
            </div>
        </div>
        </form>
    </contenido>
    <bottom>
        <button class="btn btn-danger" ng-click="editor.hide()" aria-hidden="true" >Cerrar</button>
    </bottom>
</modal>

<modal header="Correr una simulación" widgetvar="partida" >
    <contenido>
        <div class="row-fluid">
            <div ng-class="mapaUIClass">
                <table class="mapa" style="float: left; margin-right: 10px;">
                    <tr ng-repeat="fila in mapa.mapa track by $index">
                        <td ng-repeat="columna in fila track by $index" ng-class="columna.nombre" fila="{{$parent.$index}}" columna="{{$index}}" jqyoui-droppable="opcionesCasillero" data-drop="true" ng-model="posicion" ng-mouseenter="mensajes.editor.mouseSobre.x = $parent.$index; mensajes.editor.mouseSobre.y = $index; consulta.consultarQs($parent.$index,$index);" >
                            <img src="img/juego/meta.png" alt="meta" if="isMeta($parent.$index, $index)" style="margin-left:15px; margin-top: -20px;float: left; position: absolute" />
                            <div if="isPosicionInicial($parent.$index, $index)" style="height: 25px;width: 25px; padding-left: 3px; margin-top: 2px" >
                                <agente widgetvar="entorno.agente.agenteView" mapa="entorno.mapa" jqyoui-draggable="agenteOpciones" data-jqyoui-options="{revert: 'invalid',revertDuration: 150}" data-drag="true" ng-model="agente" > </agente>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>


            <div ng-class="resultadoUIClass" style="margin-left: 0px;">
                <p>Recompensa total obtenida: <strong>{{ultimaPartida.recompensaTotal?ultimaPartida.recompensaTotal:'Aún no se ha calculado'}}.</strong></p>
                <p>Estados por los que pasó:</p>
                <p ng-hide="ultimaPartida.caminosRecorridos">
                    <strong>Aún no se ha corrido la simulación.</strong>
                </p>
                <ul>
                    <li ng-repeat="(camino,x) in ultimaPartida.caminosRecorridos track by $index">
                        <strong>{{ camino }}</strong>: <strong>{{ x }}</strong> {{ x === 1?'vez':'veces' }}.
                    </li>
                </ul>
                <div style="float: left;">
                    <div style="float:none; ">
                        <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[7]" />
                        <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[0]" />
                        <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[1]" />
                    </div>
                    <div style="float:none; margin-top: 3px; margin-bottom: 3px;" >
                        <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[6]" />
                        <span style="width: 35px;">&nbsp;{{mensajes.editor.posicionHovered()}}</span>
                        <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[2]" />
                    </div>
                    <div style="float:none; ">
                        <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[5]" />
                        <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[4]" />
                        <input type="text"   style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[3]" />
                    </div>
                </div>

                <div ng-show="matrizQResguardada">
                    <!--                        <input type="range" name="points"  style="width: 100%; margin-top: 10px;">-->
                    <input type="number" name="matrizQ" id="matQ" ng-model="consulta.episodio" min="0" max="{{ entrenamiento.repeticiones }}" />
                    <button ng-click="usarMatrizQComoConocimiento()" class="btn btn-inverse" >Usar Matriz</button>
                </div>
        </div>
        </div>
    </contenido>
    <bottom>
        <button class="btn btn-inverse" ng-click="moverAgenteAleatoriamente()" aria-hidden="true">Mover Aleatoriamente</button>
        <button class="btn btn-danger" ng-click="partida.hide(); desactivarKeys();" aria-hidden="true">Cerrar</button>
        <button class="btn btn-success" ng-click="jugar()">Iniciar</button>
    </bottom>
</modal>

<modal header="Grafico comparativo" widgetvar="graficoComparativoModal" >
    <contenido>
        <chart value="graficoComparativo" recreate="true" > </chart>
    </contenido>
    <bottom>
        <button class="btn btn-danger" ng-click="graficoComparativoModal.hide()" aria-hidden="true">Cerrar</button>
    </bottom>
</modal>


<modal header="Establecer Política óptima" widgetvar="tomarPoliticaOptimaModal" >
    <contenido>
        <p>Para generar el gráfico de comparación de estrategias de selección de acción durante el entrenamiento, <strong>debe primero
        establecer cual es la política óptima</strong>. Para ello, primero se entrena exhaustivamente al agente. En nuestras pruebas, la
        matriz Q suele estabilizarse luego de aproximadamente 5000 iteraciones en los mapas más grandes.</p>
        <p>Como ya ha entrenado al agente, puede hacer click en el botón azúl <strong>"Q es óptimo"</strong>, o en el botón <strong>"Asumir Q optimo"</strong> de esta ventana para <strong>asumir el Conocimiento actual como óptimo</strong>.</p>

    </contenido>
    <bottom>
        <button class="btn btn-danger" ng-click="tomarPoliticaOptimaModal.hide()" aria-hidden="true">Cerrar</button>
        <button class="btn btn-success" ng-click="establecerConocimientoActualComoPoliticaOptima(); grafico.prepararDatos(); tomarPoliticaOptimaModal.hide();" aria-hidden="true">Asumir Q Optimo</button>
    </bottom>
</modal>

<modal header="Tiempos en aproximar política óptima" widgetvar="tiemposModal" >
    <contenido>
        <p>Los tiempos de cada algoritmo en aproximar la política óptima fueron:</p>
        <ul>
            <li ng-repeat="estrategia in grafico.tiempos" >
                 Estrategia: <strong>{{estrategia.nombre}}</strong>. Tiempo: <strong>{{estrategia.tiempo}}</strong>.
            </li>
        </ul>
    </contenido>
    <bottom>
        <button class="btn btn-danger" ng-click="tiemposModal.hide()" aria-hidden="true">Cerrar</button>
    </bottom>
</modal>

<modal header="Ayuda sobre Q-learning" widgetvar="qlearningModal" >
    <contenido>
        <p>Q-learning es una técnica de aprendizaje por refuerzo utilizada para encontrar o aproximar una política de selección de acción óptima para un proceso de decisión de Markov.</p>
        <p>La actualización del Q asociado al par (estado, acción) se consigue mediante la fórmula:</p>
        <img src="img/formulaQlearning.png" alt=""/>
        <p>El factor de descuento gamma, cuyo valor actual es: <strong>{{entrenamiento.qlearning.gamma}}</strong> varía entre 0 y 1. Su función es la de regular el valor que tienen las recompensas futuras para el agente por sobre las inmediatas.</p>
    </contenido>
    <bottom>
        <a class="btn btn-danger" ng-click="qlearningModal.hide()" >Cerrar</a>
    </bottom>
</modal>

<modal header="Enlaces al mapa" widgetvar="enlaceModal" >
    <contenido>
        <div id="qrcode"></div>
        <p>Dirección del mapa: <a href="{{mapaUrl}}"></a>{{ mapaUrl }}</p>
    </contenido>
    <bottom>
        <a class="btn btn-danger" ng-click="enlaceModal.hide()" >Cerrar</a>
    </bottom>
</modal>

<modal header="Integrantes del grupo" widgetvar="integrantesModal" >
    <contenido>
        <p>El grupo está compuesto por:</p>
        <ul class="integrantes">
            <li>
                <img src="img/grupo/jaqpp.jpg" class="img-polaroid" height="80" width="80" alt="jaqui"/>
                <span>
                    <h4 style="display: inline" >Alegre, </h4>
                    Jaquelina.
                </span>
            </li>
            <li>
                <img src="img/grupo/crispp.jpg" class="img-polaroid" height="80" width="80" alt="Cris"/>
                <span>
                    <h4 style="display: inline" >
                        García,
                    </h4>
                    Cristina.
                </span>
            </li>
            <li>
                <img src="img/grupo/gabpp.jpg" class="img-polaroid" height="80" width="80" alt="Gab"/>
                <span>
                    <h4 style="display: inline" >
                        Sosa Zimmermann,
                    </h4>
                       Gabriel.
                </span>
            </li>
        </ul>
    </contenido>
    <bottom>
        <a class="btn btn-danger" ng-click="integrantesModal.hide()" >Cerrar</a>
    </bottom>
</modal>

<ol id="tour" style="display: none">
    <li data-class="titulo" data-button="Siguiente" class="raiser">
        <h2>#1 Parada</h2>
        <p>Trabajo Práctico Integrador.</p>
        <p> <strong>Cátedra: </strong> Inteligencia Artificial.

            <strong>Universidad Tecnológica Nacional. Facultad Regional Resistencia</strong>. Año&nbsp;<strong>2013</strong></p>
    </li>
    <li data-id="recrear-entorno" data-button="Siguiente" class="raiser">
        <h2>#2 Parada</h2>
        <p>El primer paso para usar la aplicación es crear un mapa y un agente.</p>
    </li>
    <li data-id="editar" data-button="Siguiente" class="raiser">
        <h2>#3 Parada</h2>
        <p>También es posible cambiar el mapa, crear uno nuevo y ajustar las recompensas del entorno.</p>
    </li>
    <li data-id="inspeccionar" data-button="Siguiente" class="raiser">
        <h2>#4 Parada</h2>
        <p>En la ventana inspeccionar puede editarse el mapa, pintandolo o arrastrando la meta al casillero deseado.</p>
        <p>También es posible ver los valores de la función Q una vez que el agente fue entrenado.</p>
    </li>
    <li data-id="entrenar" data-button="Siguiente" class="raiser">
        <h2>#5 Parada</h2>
        <p>Una vez creado y/o editado el mapa, se puede entrenar al agente haciendo click en "entrenar!".</p>
        <p>Al dorso del menu (clickando el icono del engranaje) se puede configurar el entrenamiento.</p>
    </li>
    <li data-id="amnesia" data-button="Siguiente" class="raiser">
        <h2>#6 Parada</h2>
        <p>Si se desea olvidar todo el aprendizaje, el botón "amnesia!" resetea sus conocimientos.</p>
    </li>
    <li data-id="partida" data-button="Siguiente" class="raiser">
        <h2>#7 Parada</h2>
        <p>Una vez que el agente fue entrenado, puede entrar en "simulación" para hacer las pruebas necesarias.</p>
        <p>Es posible arrastrar el agente para posicionarlo en la posición en que se desea hacer las pruebas.</p>
    </li>
    <li data-id="grafico" data-button="Siguiente paso" class="raiser">
        <h2>#8 Parada</h2>
        <p>Para crear un grafico primero es necesario seguir una serie de pasos:</p>
        <p>
            <strong>PASO 1:</strong> Entrenar al agente aproximando la política óptima.
        </p>
    </li>
    <li data-id="qoptimo" data-button="Siguiente" class="raiser">
        <h2>#9 Parada</h2>
        <p>
            <strong>PASO 2:</strong> Fijar la matriz Q actual como óptima aproximada.
        </p>
    </li>
    <li data-id="añadir" data-button="Siguiente" class="raiser">
        <h2>#10 Parada</h2>
        <p>
            <strong>PASO 3:</strong> Añadir estrategias a comparar.
        </p>
    </li>
    <li data-id="añadir" data-button="Siguiente" class="raiser">
        <h2>#11 Parada</h2>
        <p>
            <strong>PASO 4:</strong> Presionar "Crear gráfico" al dorso de este menu y luego "Ver gráfico".
        </p>
    </li>
    <li data-button="Finalizar" class="raiser">
        <h2>#12 Parada</h2>
        <p>
            Integrantes del Grupo:
        </p>
        <ul>
            <li>Alegre, Jaquelina</li>
            <li>García, Cristina</li>
            <li>Sosa Zimmermann, Gabriel</li>
        </ul>
        <p>
            Hecho en <strong>AngularJS</strong>. Plantilla: <strong>Photon UI</strong>.
        </p>
    </li>
</ol>
<script>



    $(window).load(function() {
        $("#tour").joyride({});

        $('#tour-launcher').bind('click', function() {
            $("#tour").joyride({});
        });

        $('#paper').bind('click', function() {
            window.location.href = "doc/Paper.IA.G7.pdf";
        });
    });

</script>

</body>
</html>


