<!DOCTYPE html>
<html class=" js csstransitions">
<head>
    <title>IA - 2013</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/angular.min.1.1.5.js"></script>
    <script type="text/javascript" src="js/angular-dragdrop.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/localStorageModule.js"></script>
    <script type="text/javascript" src="js/spritely.js"></script>
    <script type="text/javascript" src="js/rotate.js"></script>
    <script type="text/javascript" src="js/game.js"></script>
    <script type="text/javascript">
        var app = angular.module('IA2013', ['LocalStorageModule', 'ngDragDrop']);
    </script>
    <script type="text/javascript" src="js/model/underscore.string.js"></script>
    <script type="text/javascript" src="js/jquery.pnotify.min.js"></script>

    <script type="text/javascript" src="js/highcharts.js"></script>
    <script type="text/javascript" src="js/model/util.js"></script>
    <script type="text/javascript" src="js/model/model.js"></script>
    <script type="text/javascript" src="js/controllers/controllers.js"></script>
    <script type="text/javascript" src="js/controllers/directives.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css" media="all"/>

    <link rel="stylesheet" type="text/css" href="css/photon-min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/photon-min-part2.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/animate.min.css" media="all"/>

</head>
<body ng-app="IA2013" class="body" ng-controller="AppCtrl">
<div class="container-fluid dashboard dashboard-title">
    <div class="row-fluid">
        <div class="span12">
            <h1>
                Inteligencia Artificial 2013
            </h1>

            <div class="btn-group">
                <button type="button" class="btn btn-gear dropdown-toggle" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:">Integrantes del grupo</a></li>
                    <li><a href="javascript:" ng-click="reseteador.show()">Resetear aplicación</a></li>
                    <li><a href="javascript:">Cargar partida</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid dashboard dashboard-quick-launch">
    <div class="row-fluid">
        <div class="span12">
            <ul id="sortable" class="ui-sortable">
                <li>
                    <img src="img/icons/ql1-2x.png" alt="Quick Launch Icon" data-original-title="" title="">

                    <p>Juego</p>
                </li>
                <li>
                    <img src="img/icons/ql2-2x.png" alt="Quick Launch Icon" data-original-title="" title="">

                    <p>Estadísticas</p>
                </li>
                <li>
                    <img src="img/icons/ql5-2x.png" alt="Quick Launch Icon" data-original-title="" title="">

                    <p>Paper</p>
                </li>
                <li class="add-ql">
                    <a href="#modal-add-quick-launch" data-toggle="modal">
                        <div class="add-quick-launch" data-toggle="modal" id="addql"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid dashboard dashboard-widget-group">
<div class="row-fluid">
<div id="photon_widgets" class="span12 ui-sortable">
<!-- General Stats Widget begin -->

<widget skin="dark" widgetVar="widgetEstado">
    <front titulo="Estado General">
        <ul>
            <li>
                <span>Entorno</span>&nbsp;
                <div>
                    <span>{{isEntornoCreado()?  "Creado" : "No creado" }}</span>
                    <img ng-src="img/{{isEntornoCreado() && 'circulo-verde' || 'circulo-rojo' }}.png" alt="Arrow up">
                </div>
            </li>
            <li>
                <span>Agente:</span>&nbsp;Política
                <div>
                    <span>{{agente.politica.nombre? agente.politica.nombre : 'Ninguna'}}</span>
                    <img ng-src="img/{{isEntornoCreado() && 'circulo-verde' || 'circulo-rojo' }}.png" alt="Arrow up">
                </div>
            </li>
            <li>
                <span>Agente:</span>&nbsp;estado
                <div>
                    <span>{{agente.entrenado? "Entrenado" : "Sin entrenar" }}</span>
                    <img ng-src="img/{{agente.entrenado && 'circulo-verde' || 'circulo-rojo' }}.png" alt="Arrow up">
                </div>
            </li>
            <li>
                <span>Partidas</span>&nbsp;jugadas
                <div>
                    <span>{{entorno.partidasJugadas}}</span>
                    <img ng-src="img/{{(entorno.partidasJugadas > 0) && 'circulo-verde' || 'circulo-rojo' }}.png"
                         alt="Arrow up">
                </div>
            </li>
            <li>
                <span>Partida</span>
                &nbsp;guardada
                <div>
                    <span>No</span>
                    <img src="img/circulo-rojo.png" alt="Arrow up">
                </div>
            </li>
        </ul>
    </front>
    <back>
        <form>
            <p class="widget-description flipper" style="color: white;">Resetear!</p>
            <a class="btn btn-large btn-danger flipper" ng-click="reseteador.show()">Volver a estado inicial!</a>
        </form>
    </back>
</widget>

<widget skin="white" widgetVar="widgetEntorno">
    <front titulo="Panel central">
        <h2 class="login-title" >Gestor de partida!</h2>
        <div class="login-member">
            <p style="margin-top: 0px;">Pódes <a class="flipper" >editar</a> el entorno</p>
        <a class="btn btn-large btn-success" ng-click="crearEntorno()" ng-hide="isEntornoCreado()" ng-animate="{show:'animated bounceIn'}" >Crear Entorno!</a>
        <a class="btn btn-large btn-inverse" ng-click="crearEntorno()" ng-show="isEntornoCreado()" ng-animate="{show:'animated flipInY'}" >Recrear Entorno!</a>
        </div>
        <span ng-show="isEntornoCreado()" ng-animate="'fade'" >
            <div class="opciones" style="text-align: center;">Opciones</div>
            <div class="btn-group"  style="margin-top: 5px;" ng-animate="{show:'animated flipInY', hide:'animated fadeOut'}" ng-show="isEntornoCreado()" >
                <a class="btn btn-large btn-primary" ng-click="editor.show()"  >Edición</a>
                <a class="btn btn-large btn-danger" href="" ng-click="partida.show()">Jugar!</a>
            </div>
        </span>
    </front>
    <back>
        <div class="container-fluid widget-settings">
            <div class="control-group row-fluid">
                <div class="span12">
                    <label class="control-label"><strong>Seleccionar Tamaño</strong></label>
                </div>
            </div>
            <div class="control-group row-fluid">
                <div class="span12">
                    <div class="controls">

                        <select ng-model="tamano" style="margin:5px 0px;" class="input-medium" ng-change="actualizarTamano(tamano)" >
                            <option value="6">6x6</option>
                            <option value="7">7x7</option>
                            <option value="8">8x8</option>
                            <option value="9">9x9</option>
                            <option value="10">10x10</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="row-fluid" style="margin-top: 5px;">
                <div class="span12">
                    <label class="control-label" style="display:inline-block; "><strong>Aleatorio?</strong></label>
                    <input type="checkbox" name="aleatorio" id="aleatorio" ng-model="configuracionEntorno.aleatorio"
                           style="margin:5px 0px; display:inline-block; "/>
                </div>
            </div>
            <div class="control-group row-fluid" style="margin-top: 5px;">
                <div class="span12">
                    <label class="control-label">Paredes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pozos</label>
                </div>
            </div>
            <div class="control-group row-fluid">
                <div class="span12">
                    <div class="controls">

                        <input type="number" name="" class="input-mini" style="margin-left: 0px;margin-top: 0px;"
                               ng-model="configuracionEntorno.paredes"/>

                        <input type="number" name="" class="input-mini" style="margin-left: 5px;margin-top: 0px;"
                               ng-model="configuracionEntorno.pozos"/>


                    </div>
                </div>
            </div>
        </div>


    </back>
</widget>
<div class="widget-holder blank-widget" ng-hide="entorno">
    <div class="widget-flipper">
        <div class="widget-area" style="padding:0px;">

        </div>
    </div>
</div>
<div class="widget-holder blank-widget" ng-hide="entorno">
    <div class="widget-flipper">
        <div class="widget-area" style="padding:0px;">

        </div>
    </div>
</div>
<div class="widget-holder blank-widget" ng-hide="entorno">
    <div class="widget-flipper">
        <div class="widget-area" style="padding:0px;">

        </div>
    </div>
</div>

<span ng-show="entorno" ng-animate="{show:'animated bounceIn', hide:'animated bounceOut'}">
    <widget widgetVar="widgetEntrenamiento">
        <front titulo="Fase de Entrenamiento" class="task-completion">
            <ul>
                <li>
                    Política de selección
                    <span>{{getPoliticaAgente()}}</span>
                </li>
                <li>Cantidad de ciclos
                    <span>{{entrenamiento.repeticiones}}</span>
                </li>
                <li>
                    <span><a class=" btn btn-small btn-primary btn-mini"
                             ng-click="amnesia()">Amnesia!</a></span>
                    <span><a class=" btn btn-small btn-danger btn-mini" ng-click="entrenamiento.entrenarTimeout()">Entrenar!</a></span>
                </li>
                <li class="processed-pct">
                    Entrenamiento:&nbsp;&nbsp;<span>{{entrenamiento.getPorcentajeEntrenamiento()}}%</span>

                    <div class="progress progress-info progress-striped active">
                        <div class="bar" data-target="0" ng-style="entrenamiento.getPorcentajeEntrenamientoBarra()" style="-webkit-transition: width 0s ease; transition: width 0s ease"></div>
                    </div>
                </li>
            </ul>
        </front>
        <back>
            <div class="container-fluid widget-settings">
                <div class="control-group row-fluid">
                    <div class="span12">
                        <label class="control-label"><strong>Política de planificación</strong></label>
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <div class="span12">
                        <div class="controls">
                            <select name="multiFilter" style="margin:5px 0px;" class="input-medium"
                                    ng-model="entrenamiento.politicaSeleccionada.nombre" ng-change="entrenamiento.actualizarPolitica()">
                                <option value="greedy">Greedy</option>
                                <option value="e-greedy">E-greedy</option>
                                <option value="aleatoria">Aleatoria</option>
                                <option value="softmax">Softmax</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <div class="span12">
                        <label class="control-label"><strong>Q-learning</strong></label>
                        <label class="control-label">&nbsp;Alfa&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gamma&nbsp;&nbsp;&nbsp;&nbsp;Q-inicial</label>
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <div class="span12">
                        <div class="controls">
                            <input type="text" name="" placeholder="Alfa" class="input-mini"
                                   style="margin: 0px 3px 0px 0px; " ng-model="entrenamiento.qlearning.alfa"/>
                            <input type="text" name="" placeholder="Gamma" class="input-mini"
                                   style="margin: 0px 3px 0px 0px;" ng-model="entrenamiento.qlearning.gamma"/>
                            <input type="text" name="" placeholder="Q-inicial" class="input-mini"
                                   style="margin: 0px;" ng-model="entrenamiento.qlearning.qInicial"/>
                        </div>
                    </div>
                </div>
                <div class="control-group row-fluid">
                    <div class="span12">
                        <label class="control-label" style="margin-top: 5px;"><strong>Configuración específica</strong></label>
                    </div>
                </div>
                <div class="control-group row-fluid" ng-show="entrenamiento.politicaSeleccionada.isGreedySeleccionado()">
                    <div class="span12">
                        <div class="controls">
                            <input type="text" name="" placeholder="Epsilon" class="input-small"
                                   style="margin: 0px 0;" ng-model="entrenamiento.politicaSeleccionada.epsilon"/>
                            &nbsp;<span style="color:white;" >Iteraciones:</span> <input type="number" name="reps" id="reps" ng-model="entrenamiento.repeticiones" class="input-small"  style="margin: 0px 0;" />
                        </div>
                    </div>
                </div>
                <div class="control-group row-fluid" ng-show="entrenamiento.politicaSeleccionada.isEGreedySeleccionado()">
                    <div class="span12">
                        <div class="controls">
                            <input type="text" name="" placeholder="Epsilon" class="input-small"
                                   style="margin: 0px 0;" ng-model="entrenamiento.politicaSeleccionada.epsilon"/>
                        </div>
                    </div>
                </div>
                <div class="control-group row-fluid" ng-show="entrenamiento.politicaSeleccionada.isSoftmaxSeleccionado()">
                    <div class="span12">
                        <div class="controls">
                            <input type="text" name="" placeholder="tau" class="input-small"
                                   style="margin: 0px 0;" ng-model="entrenamiento.politicaSeleccionada.tau"/>
                        </div>
                    </div>
                </div>
            </div>

        </back>
    </widget>

    <widget skin="white" widgetVar="resultadoEntrenamiento">
        <front titulo="Informe del Coach">
            <!--<p class="widget-description" style="margin: 5px;" ng-hide="entrenamiento.completado">
                Se mostrarán los resultados del entrenamiento una vez que haya entrenado al agente.
            </p>-->
            <img src="img/agente-min.png" style="height: 198px;" alt="agente-meme" ng-hide="entrenamiento.completado" />
            <span ng-show="entrenamiento.completado"><chart id="chartie" data="entrenamiento.resultado"></chart></span>
        </front>
        <back>
        </back>
    </widget>

    <widget widgetVar="partidaWidger">
        <front titulo="Panel de control" class="panel-control" >

            <ul>
                <li>

                </li>
                <li class="smaller">wiwi</li>
                <li class="smaller">wiwi</li>
                <li class="bottom" style="padding-top: 1px;" >
                    <div style="float:left; margin-right: 20px;"><div style="float: none;">Matriz Q</div>
                    <div style="float: none;">
                        <input type="number" min="0" max="{{entorno.mapa.filas}}" ng-model="consulta.fila" style="width: 35px; padding: 1px;" placeholder="i" ng-change="consulta.consultarQs(consulta.fila, consulta.columna)" /> x
                        <input type="number" min="0" max="{{entorno.mapa.columnas}}" ng-model="consulta.columna" placeholder="j" style="width: 35px; padding: 1px;" ng-change="consulta.consultarQs(consulta.fila, consulta.columna)" />
                    </div></div>
                    <div style="float: left;">
                       <div style="float:none; ">
                           <input type="text" name="a7" id="a7" style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[7]" />
                           <input type="text" name="a7" id="a7" style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[0]" />
                           <input type="text" name="a7" id="a7" style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[1]" />
                       </div>
                        <div style="float:none; margin-top: 3px; margin-bottom: 3px;" >
                            <input type="text" name="a7" id="a7" style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[6]" />
                            <span style="width: 35px;">{{consulta.fila}} x {{consulta.columna}}</span>
                            <input type="text" name="a7" id="a7" style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[2]" />
                        </div>
                        <div style="float:none; ">
                            <input type="text" name="a7" id="a7" style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[5]" />
                            <input type="text" name="a7" id="a7" style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[4]" />
                            <input type="text" name="a7" id="a7" style="width: 35px; margin: 0px; padding: 1px; font-size: 11px;" ng-model="consulta.resultado[3]" />
                        </div>
                    </div>
                </li>
            </ul>

            <!--<div class="row" style="margin-left: 0px;">
                <div class="span7" style="border-right-width: 1px; border-right-style: dashed; border-bottom-width: 1px; border-bottom-style: solid;">
                    <strong>Consultas a matriz Q</strong>
                    <br>
                    <input type="text" ng-model="consulta.fila" style="width: 35px;" placeholder="i" />x
                    <input type="text" ng-model="consulta.columna" placeholder="j" style="width: 35px;" />A(
                    <input type="text" ng-model="consulta.accion" placeholder="a" style="width: 35px;" />)
                    <br />
                    Q = {{consulta.consultarQ(consulta.fila,consulta.columna,consulta.accion)}}
                </div>
                <div class="span4">h</div>
            </div>-->
        </front>
        <back>

        </back>
    </widget>

</span>

<div class="widget-holder blank-widget" >
    <div class="widget-flipper">
        <div class="widget-area" style="padding:0px;">

        </div>
    </div>
</div>

</div>
</div>
</div>
<div class="dashboard-watermark"></div>

<modal header="Reiniciar la aplicación" widgetvar="reseteador" >
    ¿Está seguro de que desea resetear el estado actual?
    <div class="modal-footer">
        <button class="btn" ng-click="reseteador.hide()" aria-hidden="true">No, me equivoqué</button>
        <button class="btn btn-danger" ng-click="resetear(); reseteador.hide();">Si!</button>
    </div>

</modal>
<modal header="Editar mapa" widgetvar="editor">
    <contenido>
        <table class="mapa" style="float: left; margin-right: 10px;">
            <tr ng-repeat="fila in mapa.mapa track by $index">
                <td ng-repeat="columna in fila track by $index" jqyoui-droppable="opcionesCasillero" data-drop="true" ng-class="columna.nombre" fila="{{$parent.$index}}" columna="{{$index}}" ng-click="editor.pintar($parent.$index,$index)" style="cursor: url('img/brocha.png') 0 21,crosshair;" ng-model="posicion" >
                    <img src="img/juego/meta.png" alt="meta" if="isMeta($parent.$index, $index)" style="margin-left:15px; margin-top: -20px;float: left; cursor: -webkit-grab" jqyoui-draggable="{index: {{$index}}, revert: 'invalid', revertDuration: 150 }" data-drag="true" ng-model="meta" />
                </td>
            </tr>
        </table>
        <table class="mapa">
            <tr><td ><a href="#" class="darken" ng-click="editor.seleccionarPincel('Bueno')" title="Buen camino" data-toggle="tooltip" id="pincel-camino-bueno" ><img src="img/juego/bueno.png" alt="" /></a></td></tr>
            <tr><td><a href="#" class="darken" ng-click="editor.seleccionarPincel('Excelente')"><img src="img/juego/excelente.png" alt=""/></a></td></tr>
            <tr><td><a href="#" class="darken" ng-click="editor.seleccionarPincel('Neutral')"><img src="img/juego/neutral.png" alt=""/></a></td></tr>
            <tr><td><a href="#" class="darken" ng-click="editor.seleccionarPincel('Malo')"><img src="img/juego/malo.png" alt=""/></a></td></tr>
            <tr><td><a href="#" class="darken" ng-click="editor.seleccionarPincel('Pozo')"><img src="img/juego/pozo.png" alt=""/></a></td></tr>
            <tr><td><a href="#" class="darken" ng-click="editor.seleccionarPincel('Pared')"><img src="img/juego/pared.png" alt=""/></a></td></tr>
        </table>

    </contenido>
    <bottom>
        <button class="btn btn-danger" ng-click="editor.hide()" aria-hidden="true" >Cerrar</button>
    </bottom>
</modal>


    <modal header="Jugar un partida" widgetvar="partida" >
    <contenido>
        <div class="row-fluid"><div class="span9"><table class="mapa" style="float: left; margin-right: 10px;">

            <tr ng-repeat="fila in mapa.mapa track by $index">
                <td ng-repeat="columna in fila track by $index" ng-class="columna.nombre" fila="{{$parent.$index}}" columna="{{$index}}">
                    <img src="img/juego/meta.png" alt="meta" if="isMeta($parent.$index, $index)" style="margin-left:15px; margin-top: -20px;float: left;" />
                    <div if="isPosicionInicial($parent.$index, $index)" style="height: 25px;width: 25px; padding-left: 3px; margin-top: 2px" >
                        <agente widgetvar="entorno.agente.agenteView" mapa="entorno.mapa" > </agente>
                    </div>
                </td>
            </tr>

        </table></div>

</div>
    </contenido>
    <bottom>
        <button class="btn btn-inverse" ng-click="moverAgenteAleatoriamente()" aria-hidden="true">Resetear</button>
        <button class="btn btn-danger" ng-click="partida.hide()" aria-hidden="true">Cerrar</button>
        <button class="btn btn-success" ng-click="jugar()">Jugar</button>
    </bottom>
</modal>


</body>
</html>

